.formGroup {
  width: 100%;
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 0.75rem;
  color: var(--text-muted);
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-input) inset !important;

  -webkit-text-fill-color: var(--text-main) !important;

  transition: background-color 5000s ease-in-out 0s;
}

.input {
  width: 100%;
  background-color: var(--bg-input);
  color: var(--text-main);
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  border: 1px solid transparent;
  /* transition: border-color 0.3s ease; */
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

.input:focus {
  border-color: var(--color-primary);
  outline: none;
}
.input:autofill {
  background-color: var(--bg-input) !important;
  color: var(--text-main) !important;
}
.iconWrapper {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon size standardization */
.iconWrapper > * {
  width: 20px !important;
  height: 20px !important;
}
.inputError {
  border-color: #ff4d4f !important;
}

.errorMessage {
  display: block;
  color: #ff4d4f;
  font-size: 0.75rem;
  margin-top: 0.4rem;
}
