.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-main);
  cursor: pointer;
}

.checkbox {
  accent-color: var(--color-primary);
  width: 16px;
  height: 16px;
  cursor: pointer;
}