/* CSS Normalization & Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* Color Variables based on your UI */
:root {
  --bg-layout: #1b1b1c;
  --bg-main: #252526;
  --bg-card: #252526;
  --bg-input: #121212;
  --btn-cancel: #333333;
  --color-primary: #a33b3b; /* The red color */
  --color-primary-hover: #962e32;
  --text-main: #d1d1d1;
  --icon-main: #d1d1d1;
  --text-scuccess: #eeecec;
  --text-muted: #888888;
  --border-color: #333333;
  --font-size-xl: 1.5rem;
  --font-size-l: 1.25rem;
  --font-size-m: 1rem;
  --font-size-s: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
  --togglediv-color: #0b0b0e;
  --border-right-color: #402626;
  --border-nav-color: #402626;
  --nav-shadow-color: #201717;
  --active-link-color: #6f2f2f;
  --active-right-link-color: #b25151;
  --padding: 1rem;
  --radius: 8px;
  --gap: 1.5rem;
  --accent: #a33b3b;
  /* table css */
  --bg-table: #2d2d30;
  --bg-head: #3b3b41;
  --bg-row-alt: #29292d;
  --bg-row-hover: #404047;
  --bg-btn: #0d0d0d;
  --border-input: #402626;
  /* Btn colors */
  --accent: #a33b3b;
  --accent-hover: #c24646;
  --danger: #ff4d4f;
  --success: #2b7a2c;
  --success-hover: #338f35;

  --padding: 1rem;
  --margin: 1rem;
}
.light-mode {
  --bg-layout: #ffffff;
  --bg-main: #eeecec;
  --bg-card: #f5f5f5;
  --bg-input: #ffffff;
  /* --bg-btn: #1a1a1b; */
  --btn-text: #eeecec;
  --color-primary: #a33b3b;
  --color-primary-hover: #962e32;
  --text-main: #000000;
  --text-cancel: #eeecec;
  /* --icon-main: #000000; */
  --text-muted: #131313;
  --border-color: #cccccc;
  --togglediv-color: #c4c4c4;
  --border-right-color: #402626;
  --border-nav-color: #e1e1e1;
  --nav-shadow-color: #d1d1d1;
  --active-right-link-color: #b25151;
  --active-link-color: #6a6969;
  --accent: #a33b3b;
  /* table css */
  --bg-head: #ffffff;
  --bg-table: #e7e7e7;
  --bg-row-alt: #d1d1d1;
  --bg-row-hover: #b9b9b9;

  --border-input: #402626;
}
