.DeleteModal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#252526;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    text-align: center;
}
.iconContainer{
   display: grid;
grid-template-columns:1.2fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;


}
.iconOne{
    display: grid;
    
    justify-content: end;
  
}

.iconTwo{
       display: grid;
     justify-content: end;
     align-content: center;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
}

.btnContainer button:first-child {
  background-color:black;
  color:white
}

.textContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}