.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-layout);
  color: var(--icon-main);
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-layout);
  padding: 1.5rem;
  flex: 1;
  overflow: hidden;
}
