.btn {
  width: 100%;
  background-color: var(--color-primary);
  color: white;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-hover);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper > * {
  width: 20px !important;
  height: 20px !important;
}